<app-page-header></app-page-header>
<!-- Table Section -->
<mat-card>
  <mat-card-content>
    <div class="table-container">
      <div class="table-header-toolbar">
        <div class="row">
          <div class="col-sm-8">
            <span class="table-header">All Cities</span>
            <mat-form-field appearance="outline" class="search-box">
              <mat-label class="search-label">Search...</mat-label>
              <input #filter (keyup)="applyFilter($event)" matInput type="text" />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <div class="right-side-btn">
              <button
                mat-icon-button
                (click)="addNew()"
                class="tbl-header-btn text-green"
                matTooltip="Add"
              >
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <!-- Table -->
      <div class="overflow-auto">
        <div class="responsive_table">
          <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
            <!-- City Name Column -->
            <ng-container matColumnDef="cname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>City Name</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.cname }}</mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.status }}</mat-cell>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index;" class="pr-0">
                <button
                  mat-icon-button
                  color="accent"
                  (click)="$event.stopPropagation()"
                  (click)="editCall(row)"
                  class="tbl-action-btn"
                >
                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                </button>
                <button
                  mat-icon-button
                  color="accent"
                  (click)="$event.stopPropagation()"
                  (click)="deleteItem(row)"
                  class="tbl-action-btn"
                >
                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
            <mat-row
              [@rowsAnimation]=""
              *matRowDef="let row; columns: getDisplayedColumns();"
              (click)="editCall(row)"
              [style.cursor]="'pointer'"
              matRipple
            >
            </mat-row>
          </table>
        </div>
      </div>

      <!-- Paginator -->
      <mat-paginator
        #paginator
        [length]="dataSource.filteredData.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
