<app-page-header></app-page-header>
<div class="row">
  <div class="col-sm-12">
    <!-- Add Area Form -->
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Add Area</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form class="form-field-full" [formGroup]="areaForm" (ngSubmit)="onSubmit()">
          <div class="row m-b-24">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>City Name</mat-label>
                <mat-select formControlName="cname" required >
                  <mat-option *ngFor="let city of cityOptions" [value]="city.id">
                    {{ city.cname }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="areaForm.get('cname')?.hasError('required')">
                  Please select a City Name
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
                <mat-label>Area Name</mat-label>
                <input matInput formControlName="aname" required  placeholder="e.g., 'Karwar', 'Central Park'">
                @if (areaForm.get('aname')?.hasError('required') || areaForm.get('aname')?.touched) {
                <mat-error *ngIf="areaForm.get('aname')?.hasError('required')">
                  Please enter a valid Area Name
                </mat-error>
                }
              </mat-form-field>
            </div>
          </div>
          <div class="row m-b-24">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Pincode</mat-label>
                <input matInput formControlName="pincode" required>
                <mat-error *ngIf="areaForm.get('pincode')?.hasError('pattern')">
                  Pincode must be exactly 6 digits.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" required>
                  <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                    {{ status.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="areaForm.get('status')?.hasError('required')">
                  Please select a status
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row m-b-24">
            <div class="col-sm-6">
              <div class="m-t-16 m-b-16">
                <!-- Submit Button -->
                <button class="m-l-8 m-r-8" [disabled]="!areaForm.valid" mat-flat-button color="primary">
                  {{ isEditMode ? 'Update' : 'Submit' }}
                </button>

                <!-- Cancel Button -->
                <button type="button" mat-flat-button color="warn" (click)="addNew()">
                  Cancel
                </button>
              </div>

            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>