<!-- rating-breakdown.component.html -->
<mat-card>
    <mat-card-content>
        <div class="p-12">
            <div class="d-flex justify-content-between m-b-8">
                <div class="ratings">
                    <ng-container *ngFor="let star of getStarIcons(overallRating)">
                        <i class="material-icons icon text-green">{{ star }}</i>
                    </ng-container>
                </div>
                <h5 class="f-s-16 m-t-0 m-b-16">{{ totalReviews }} Reviews</h5>
            </div>

            <div *ngFor="let item of ratingItems"
                class="d-flex justify-content-between align-items-center m-t-12 m-b-12">
                <h4 class="m-4 f-w-500">{{ item.label }}</h4>
                <div class="small-ratings">
                    <ng-container *ngFor="let star of getStarIcons(item.rating)">
                        <i class="material-icons icon text-orange f-s-18">{{ star }}</i>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>