<app-page-header></app-page-header>
<div class="row">
    <div class="col-sm-12">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>Add Property Type</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form class="form-field-full" [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
                    <div class="row m-b-24">
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Property Type Name</mat-label>
                                <input matInput formControlName="ptname" required>
                                <mat-error *ngIf="propertyForm.get('ptname')?.hasError('required')">
                                    Please enter a valid Property Type Name
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Status</mat-label>
                                <mat-select formControlName="status" required>
                                    <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                                        {{ status.viewValue }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="propertyForm.get('status')?.hasError('required')">
                                    Please select a status
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="m-l-8 m-r-8" [disabled]="!propertyForm.valid" mat-flat-button color="primary">
                                Submit
                            </button>
                            <button type="button" mat-flat-button color="warn">Cancel</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <div class="table-container">
                    <div class="table-header-toolbar">
                        <div class="row">
                            <div class="col-sm-8">
                                <span class="table-header">All Property Types</span>
                                <mat-form-field appearance="outline" class="search-box">
                                    <mat-label class="search-label">Search...</mat-label>
                                    <input #filter (keyup)="applyFilter($event)" matInput type="text">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <div class="right-side-btn">
                                    <button mat-icon-button [hidden]="!selection.hasValue()" (click)="removeSelectedRows()"
                                        class="tbl-header-btn text-red" matTooltip="Delete">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="addNew()" class="tbl-header-btn text-green" matTooltip="Add">
                                        <mat-icon>add_circle_outline</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="refresh()" class="tbl-header-btn text-dark-grey" matTooltip="Refresh">
                                        <mat-icon>refresh</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="exportExcel()" class="tbl-header-btn text-blue" matTooltip="Xlsx Download">
                                        <mat-icon class="material-icons-outlined">file_download</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="overflow-auto">
                        <div class="responsive_table">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="ptname">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Property Type Name</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row.ptname }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{ row.status }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                      <button mat-icon-button color="accent" (click)="editCall(row)" class="tbl-action-btn">
                                        <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                      </button>
                                      <button mat-icon-button color="accent" (click)="deleteItem(row)" class="tbl-action-btn">
                                        <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                                      </button>
                                    </mat-cell>
                                  </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </table>
                        </div>
                    </div>

                    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent($event)">
                    </mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>