<app-page-header></app-page-header>
<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Edit User</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form class="form-field-full" [formGroup]="userForm">
          <div class="row m-b-24">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Staff ID</mat-label>
                <input matInput formControlName="staffId" required>
                <mat-error *ngIf="userForm.get('staffId')?.invalid && userForm.get('staffId')?.touched">
                  Please enter a valid Staff ID
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
                  Please enter a valid Name
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row m-b-24">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>User Type</mat-label>
                <mat-select formControlName="userType" required>
                  <mat-option *ngFor="let type of userTypes" [value]="type.value">
                    {{ type.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.get('userType')?.invalid && userForm.get('userType')?.touched">
                  User Type is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required>
                <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row m-b-24">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
                  Please enter a password
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" required>
                  <mat-option value="active">Active</mat-option>
                  <mat-option value="inactive">Inactive</mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.get('status')?.invalid && userForm.get('status')?.touched">
                  Please select a status
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <button type="button" (click)="onSubmit()" [disabled]="!userForm.valid" mat-flat-button color="primary">
                Submit
              </button>
              <button type="button" mat-flat-button color="warn">Cancel</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
