mat-slider {
    --mdc-slider-handle-color: #b8b8ff; /* Thumb color */
    --mdc-slider-track-color: #b8b8ff;  /* Track color */
    --mdc-slider-focus-handle-color: #9090ff; /* Focused Thumb */
    --mdc-slider-hover-handle-color: #a0a0ff; /* Hovered Thumb */
  }
  