<app-page-header></app-page-header>
<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Add Property Inventory</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form class="form-field-full" [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
          <div class="row m-b-24">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Property Name</mat-label>
                <mat-select formControlName="propertyName" required>
                  <mat-option *ngFor="let name of propertyOptions" [value]="name._id">{{ name.propertyName }}</mat-option>
                </mat-select>
                <mat-error *ngIf="inventoryForm.get('propertyName')?.hasError('required')">
                  Please select a valid Property Name
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Inventory Name</mat-label>
                <mat-select formControlName="inventory" required>
                  <mat-option *ngFor="let type of inventoryOptions" [value]="type._id">{{ type.inventoryName }}</mat-option>
                </mat-select>
                <mat-error *ngIf="inventoryForm.get('inventory')?.hasError('required')">
                  Please select a valid Inventory Name
                </mat-error>
              </mat-form-field>
              
            </div>
          </div>

          <div class="row m-b-24">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Carpet Area</mat-label>
                <input matInput formControlName="carpetArea" type="number" min="1">
                <mat-error *ngIf="inventoryForm.get('carpetArea')?.hasError('min')">
                  Carpet area must be at least 1
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Built-up Area</mat-label>
                <input matInput formControlName="builtUpArea" type="number" min="1">
                <mat-error *ngIf="inventoryForm.get('builtUpArea')?.hasError('min')">
                  Built-up area must be at least 1
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row m-b-24">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Min Price</mat-label>
                <input matInput formControlName="minPrice" type="number" min="1000">
                <mat-error *ngIf="inventoryForm.get('minPrice')?.hasError('min')">
                  Min Price must be at least 1000
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Max Price</mat-label>
                <input matInput formControlName="maxPrice" type="number" min="1000">
                <mat-error *ngIf="inventoryForm.get('maxPrice')?.hasError('min')">
                  Max Price must be at least 1000
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 m-b-32">
              <mat-label>Upload Property floor plan Image</mat-label>
              <app-file-upload formControlName="uploadFile"></app-file-upload>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <button class="m-l-8 m-r-8" [disabled]="!inventoryForm.valid" mat-flat-button color="primary">
                Submit
              </button>
              <button type="button" mat-flat-button color="warn">Cancel</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card>
  <mat-card-content>
    <div class="table-container">
      <div class="table-header-toolbar">
        <div class="row">
          <div class="col-sm-8">
            <span class="table-header">All Property Inventories</span>
            <mat-form-field appearance="outline" class="search-box">
              <mat-label class="search-label">Search...</mat-label>
              <input #filter (keyup)="applyFilter($event)" matInput type="text">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <div class="right-side-btn">
              <button mat-icon-button [hidden]="!selection.hasValue()" (click)="removeSelectedRows()"
                class="tbl-header-btn text-red" matTooltip="Delete">
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button mat-icon-button (click)="addNew()" class="tbl-header-btn text-green" matTooltip="Add">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
              <button mat-icon-button (click)="refresh()" class="tbl-header-btn text-dark-grey"
                matTooltip="Refresh">
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="overflow-auto">
        <div class="responsive_table">
          <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
            <ng-container matColumnDef="propertyName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Property Name</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.propertyName }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="inventoryName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Inventory Name</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.inventoryName }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="carpetArea">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Carpet Area</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.carpetArea }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="builtUpArea">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Built-up Area</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.builtUpArea }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="minPrice">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Min Price</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.minPrice }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="maxPrice">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Max Price</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.maxPrice }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="uploadFile">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Uploaded File</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.uploadFile }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button color="accent" (click)="editCall(row)" class="tbl-action-btn">
                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                </button>
                <button mat-icon-button color="accent" (click)="deleteItem(row)" class="tbl-action-btn">
                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                </button>
                <button mat-icon-button color="accent" (click)="viewImage(row)" class="tbl-action-btn">
                  <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-eye'"></app-feather-icons>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
        </div>
      </div>

      <mat-paginator [length]="dataSource.filteredData.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="pageEvent($event)">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
  </div>
</div>