<app-page-header></app-page-header>
<mat-card>
  <mat-card-header>
    <div class="table-header-toolbar">
      <div class="row">
        <div class="col-sm-8">
          <span class="table-header">All Staff</span>
          <mat-form-field appearance="outline" class="search-box">
            <mat-label class="search-label">Search...</mat-label>
            <!-- Filter Input -->
            <input #filter (keyup)="applyFilter($event)" matInput type="text" placeholder="Search staff">

            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <div class="right-side-btn">
            <button mat-icon-button [hidden]=!selection.hasValue() (click)="removeSelectedRows()"
              class="tbl-header-btn text-red" matTooltip="Delete">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <button mat-icon-button class="text-indigo" (click)="select.open()" matTooltip="Show/Hide Column">
              <mat-icon>filter_list</mat-icon>
              <mat-select #select [(ngModel)]="filter.value" style="width: 200px; display: table;"
                class="column-filter">
                <span class="table-column-label">Show/Hide Column</span>
                <mat-option *ngFor="let cd of columnDefinitions">
                  <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="cd.visible"
                    color="primary">{{cd.label}}</mat-checkbox>
                </mat-option>
              </mat-select>
            </button>
            <button mat-icon-button (click)="addNew()" class="tbl-header-btn text-green" matTooltip="Add">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="refresh()" class="tbl-header-btn text-dark-grey" matTooltip="Refresh">
              <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button (click)="exportExcel()" class="tbl-header-btn text-blue" matTooltip="Xlsx Download">
              <mat-icon class="material-icons-outlined">file_download</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="overflow-auto">
      <table mat-table [dataSource]="dataSource" matSort class="mat-table">
        <!-- Staff ID Column -->
        <ng-container matColumnDef="staffId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Staff ID </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.staffId }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
        </ng-container>

        <!-- User Type Column -->
        <ng-container matColumnDef="userType">
          <mat-header-cell *matHeaderCellDef mat-sort-header> User Type </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.userType }}</mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
        </ng-container>

        <!-- Password Column -->
        <ng-container matColumnDef="password">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Password </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.password }}</mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.status }}</mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="$event.stopPropagation(); editCall(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="$event.stopPropagation(); deleteItem(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="['staffId', 'name', 'userType', 'email', 'password', 'status', 'actions']"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: ['staffId', 'name', 'userType', 'email', 'password', 'status', 'actions'];"
          matRipple>
        </mat-row>

      </table>
    </div>

    <!-- Loading spinner -->
    <div *ngIf="isLoading">
      <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate"></mat-progress-spinner>
    </div>

    <!-- Paginator -->
    <mat-paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card-content>
</mat-card>
