<app-page-header></app-page-header>
<div class="row">
    <div class="col-sm-12">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>Add Service</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form class="form-field-full" [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                    <div class="row m-b-8">
                        
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Select Service Category</mat-label>
                                <mat-select formControlName="roomType" required>
                                    <mat-option [value]="'Delux'">
                                       Electrical
                                    </mat-option>
                                    <mat-option [value]="'  House Keeping'">
                                        House Keeping
                                    </mat-option>
                                    <mat-option [value]="'  House Keeping'">
                                        Plumbing
                                    </mat-option>
                                 
                                </mat-select>
                                @if (bookingForm.get('roomType')?.hasError('required')) {
                                <mat-error>
                                    Select Service Category
                                </mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Service name</mat-label>
                                <input matInput formControlName="first" required>
                                @if (bookingForm.get('first')?.hasError('required')) {
                                <mat-error>
                                    Package Name is required
                                </mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-b-8">
                        
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Service Cost</mat-label>
                                <input matInput formControlName="last">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Select Status</mat-label>
                                <mat-select formControlName="roomType" required>
                                    <mat-option [value]="'Delux'">
                                       Active
                                    </mat-option>
                                    <mat-option [value]="'  House Keeping'">
                                      In-active
                                    </mat-option>
                                   
                                 
                                </mat-select>
                                @if (bookingForm.get('roomType')?.hasError('required')) {
                                <mat-error>
                                    Select Status Type
                                </mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row m-b-8">
                        
                       
                    </div>
                    <div class="row m-b-8">
                       
                       
                    </div>
                   
                    <!-- <div class="row m-b-32">
                        <div class="col-sm-12">
                            <mat-label>Upload</mat-label>
                            <app-file-upload formControlName="uploadFile"></app-file-upload>
                        </div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Note</mat-label>
                                <textarea matInput formControlName="note"></textarea>
                            </mat-form-field>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="m-l-8 m-r-8" [disabled]="!bookingForm.valid " mat-flat-button
                                color="primary">Submit</button>
                            <button type="button" mat-flat-button color="warn">Cancel</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>